body
{
    margin: 0;
    background: url("img/fon.jpg");

    font-family: Times New Roman;
    line-height: 1.5;
    font-size: 20px;
}
nav
{
    width: 960px;
    margin: 0 auto;
}

nav::before
{
    content: '';
    display: block;
    height: 50px;
    width: 100%;
    background: burlywood;
    position: absolute;
    left: 0;
    z-index: -1;
}

nav ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 50px;

}

ul li
{
    float: left;
}

ul li a
{
    color: #8B4513;
    display: block;
    height: 50px;
    padding: 0 30px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 50px;
}

ul li a:hover
{
    background: #DAA520;
}

.picture
{
    text-align: center;
}
div
{
    text-align: center;
}
.text
{
    text-align: left;
    margin-left: 15px;
}
.portal
{
    margin-bottom: 15px;
}
.spis
{
    float: none;
    text-align: left;
    margin-left: 15px;
}